<!DOCTYPE html>
<html>
<head>
<title>About</title>
</head>
<body>

<h1 style="text-align:center">Alpha Blog About Page</h1>
<p style = "text-align:center"><%= link_to "Home", root_path %>   <%= link_to "About", about_path %></p>
<p style = "text-align:center">This is my alpha blog, designed for The Complete Ruby on Rails Course</p>

</body>
</html>